.item__button {
  outline: none;
  cursor: pointer;
  background-color: rgba(183, 190, 190, 0.87);
  border: 1px solid rgb(128, 129, 127);
  transition: cubic-bezier(0.39, 0.575, 0.565, 1) 0.6s;
}
.item__button:hover {
  background-color: rgba(35, 174, 199, 0.746);
}
